<%= erb(:head) %>
<h1 class="titleGameview"> Partida</h1>
<div class="right-align">
      <h2 id="score">  </h2><hr>
      <h4 class="players currentTurn"><%= @player1.name  %> : </h4> <br>
      <h4 class="scoreOfplayer">0</h4>
      <h4 class="players"><%= @player2.name %> : </h4><hr>
      <h4 class="scoreOfplayer">0</h4>
</div>

<div class="boardContainer">
      <table id="board" >
            <% for i in 0..(@matSize.to_i - 1) do %>
                  <tr>
                        <% for i in 0..(@matSize.to_i - 1) do %>
                              <td>
                                    <button class="up" onclick = "selectBorder(this,'topSelected')"> ⇡  </button> 
                                    <button class="left" onclick = "selectBorder(this,'leftSelected')"> ⇠ </button>
                                    <button class="right" onclick = "selectBorder(this,'rightSelected')"> ⇢ </button>
                                    <button class="down" onclick = "selectBorder(this,'downSelected')"> ⇣ </button>                          
                              </td>
                        <% end %>
                  </tr>
            <% end %>
      </table>
</div>






      
     






