<%= erb(:head) %>

<h1 id="score" class="right-align">0</h1>

<div class="boardContainer">
      <table id="board" >
            <% for i in 0..(@matSize.to_i - 1) do %>
                  <tr>
                        <% for i in 0..(@matSize.to_i - 1) do %>
                              <td>
                                    <button class="up" onclick = "selectBorder(this,'topSelected')"> ⇡  </button> 
                                    <button class="left" onclick = "selectBorder(this,'leftSelected')"> ⇠ </button>
                                    <button class="right" onclick = "selectBorder(this,'rightSelected')"> ⇢ </button>
                                    <button class="down" onclick = "selectBorder(this,'downSelected')"> ⇣ </button>                          
                              </td>
                        <% end %>
                  </tr>
            <% end %>
      </table>
</div>




      
     






