<%= erb(:head) %>


      <h1> Configuracion inicial </h1><br>

      <form method="get" action="/startGame">

            <label><h3>Ingresa tamaño de tablero:</h3></label>
            <input type='text' name='matSize'disabled placeholder=" 5 "><br>

            <input type ='submit' value='Empezar partida' class="btn btn-danger">

      </form>
