* {
    height: auto;
}

.mainContainer {
    width: 70%;
    height: auto;
    margin-top: 5%;
    margin-left: 15%;
    box-shadow: 0 0 15px 0 gray;
}

.container {
    width: inherit;
    height: inherit;
}

.center {
    text-align: center;
}

.mainForm {
    width: auto;
    height: auto;
    margin-top: 20%;
}

table {
    width: 100%;
    text-align: center;
    height: 60%;
    padding: 0.2em;
}

tr {
    margin: 15px;
    padding: 15px;
}

td div {
    display: block;
}

table td {
    background-color: #F2F2F2;
    padding: 15px;
    border: 1px solid gray;
    justify-content: center;
    align-content: center;
}

.boardcontainer {
    padding: 10px;
    width: inherit;
    box-shadow: 0 0 15px 0 gray;
    border-radius: 10px;
}

.welcomeBnt {
    width: 35%;
}