* {
    height: auto;
}

.mainContainer {
    width: 70%;
    height: auto;
    margin-top: 5%;
    margin-left: 15%;
    box-shadow: 0 0 15px 0 gray;
}

.container {
    width: inherit;
    height: inherit;
}

.center {
    text-align: center;
}

.mainForm {
    width: auto;
    height: auto;
    margin-top: 20%;
}

table {
    width: 95%;
    text-align: center;
    height: 60%;
    padding: 0.2em;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}

tr {
    margin: 15px;
    padding: 15px;
}

table td {
    background-color: #F2F2F2;
    padding: 15px;
    border: 1px solid gray;
}

td > button {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: center;
}

.boardcontainer {
    padding: 10px;
    width: inherit;
    box-shadow: 0 0 15px 0 gray;
    border-radius: 10px;
}

.welcomeBnt {
    width: 35%;
}

.topSelected {
    border-top: 4px solid black;
}

.leftSelected {
    border-left: 4px solid black;
}

.rightSelected {
    border-right: 4px solid black;
}

.downSelected {
    border-bottom: 4px solid black;
}

.right-align{
    float: right;
}

.hidden{
    display: none;
}